* {
    border: none;
    border-radius: 0;
    font-family: LiberationMono;
    font-size: 13px;
    min-height: 30px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode, #clock, #hyprland, #pulseaudio{
    padding: 0 5px;
    margin: 5px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #workspaces, #pulseaudio {
    background-color: #fc72fc;
    border-radius: 15px;
}
